# Intellij
.idea/
*.iml
*.iws
out/

# Mac
.DS_Store

# Maven
log/
target/

# Gradle
.gradle/
.gradletasknamecache

# Build
/build/
*.war

# Integration Test
src/test/resources/*.csv
src/test/resources/*.log
src/test/resources/*.jar
