# Intellij
.idea/
*.iml
*.iws
*.ipr
out/

# Mac
.DS_Store

# Maven
log/
target/

# Gradle
.gradle/
.gradletasknamecache

# Build
/build/
*.war

# Test
src/test/resources/*.csv
src/test/resources/*.log
src/test/resources/*.jar
src/test/resources/*.json
src/integrationTest/resources/*.json
src/endToEndTest/resources/*.json
src/main/webapp/frontend/*.json
.RUNNING_INSTANCE_LOCK
/classes/
