[submodule "src/endToEndTest/dockerRadar"]
	path = src/endToEndTest/dockerRadar
	url = https://github.com/RADAR-CNS/RADAR-Docker.git
[submodule "schemas"]
	path = schemas
	url = https://github.com/RADAR-CNS/RADAR-Schemas.git
